{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_meta %}
<meta name="description" 
content="Bookworms et al offers secure and encrypted checkout powered by Stripe.
Purchase from our range of bestseller books.">
<meta name="keywords" 
content="shop our bestseller range of books, free shipping in Ireland 
with secure payment, book-lovers and readers, Irish-owned shop">
<meta name="author" content="Monica Murray">

{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_title %} Shopping Cart{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font my-5">Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col" ></th>
                                    <th scope="col">Price</th>
                                    <th scope="col" >Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <!-- product image -->
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" max-width="100%" max-height="100%" alt="{{ item.product.name }}">
                                    </td>

                                    <!-- product name -->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        
                                    </td>
                                    

                                    <!-- product item price -->
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>

                                    <!-- quantity -->
                                    <td class="py-3 w-25">
                                        {% include "bag/quantity_form.html" %}
                                    </td>

                                    <!-- Shopping bag sub-total -->
                                    <td class="py-3 w-25">
                                        <p class="my-0">
                                            €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>

                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>

                                     <!-- Free delivery in Ireland -->

                                    {% if request.user.profile.default_country != 'IE' %}

                                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                        </p>
                                        {% endif %}
                                        
                                    {% else %}
                                        <h6>Delivery: Free Delivery in Ireland!</h6>
                                        <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Delete item and reload on click
    $('.delete-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/bag/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, };

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>

{% endblock %}