{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" 
content="Bookworms et al are expert Irish booksellers. With Free shipping 
in Ireland, browse and purchase from our bestsellers in store or online. 
We are book-lovers, passionate readers and love recommending the right 
book for our customer. Shop our range now.">
<meta name="keywords" 
content="view our bestseller range of books, free shipping in Ireland 
with secure payment, book-lovers and readers, Irish-owned shop">
<meta name="author" content="Monica Murray">

{% endblock %}


{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}

{% block extra_title %} Home{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 text-center mt-5">
            <h1 class="display-4 logo-font text-black">Shop Bestsellers</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>

        </div>
    </div>
    <hr>

    
</div>
{% endblock %}