/* 590px is the combined height of the form plus the submit button
    in the adjacent column - beyond this the table will scroll */
.order-history {
    overflow-y: auto;
}



#profile-update-form {
    max-height: 590px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
    
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}
