
<footer class="footer mt-auto py-4 bg-white fixed-bottom " id="footernav">
    <hr>
<div class="footer-links col-sm-6 text-center">
    <ul class="nav justify-content-center flex-sm-column">
        <li class="nav-item">
          <a class="text-black nav-link active" href="{% url 'about_us' %}">About Bookworms et al |</a>
        </li>
        <li class="nav-item">
          <a class="text-black nav-link" href="#">Privacy Policy |</a>
        </li>
        <li class="nav-item">
          <a class="text-black nav-link" href="#">Join VIP Club |</a>
        </li>
        <li class="nav-item">
          <a class="text-black nav-link" 
          href="https://github.com/MoniMurray/bookworms-et-al" 
          target="_blank" rel="noopener"
          aria-label="Visit my Github profile to see more about this 
          project (Opens a new browser page)">
          Created by Monica Murray for CI P5</a>
        </li>
      </ul>
      <p class="m-0 text-center text-white">
        <a class="text-black" href="https://www.facebook.com" target="_blank" rel="noopener"
        aria-label="Visit my Facebook page (Opens a new browser page)"><i class="fa-brands fa-facebook pl-2"></i></a>
      <a class="text-black" href="https://www.instagram.com" target="_blank" rel="noopener"
        aria-label="Visit my Instagram page (Opens a new browser page)"><i class="fa-brands fa-instagram pl-2"></i></a>
      <a class="text-black" href="https://www.twitter.com" target="_blank" rel="noopener"
        aria-label="Visit my Twitter page (Opens a new browser page)"><i class="fa-brands fa-twitter pl-2"></i></a>
</div>
    </footer>