{% load static %}

<footer class="footer bg-white " id="footernav">
    <hr>
<div class="footer-links text-center">
    <ul class="nav justify-content-center w-auto text-muted ">
        <li class="nav-item nav-link">
          <a class="text-black nav-link active" href="{% url 'about_us' %}"><small>About Bookworms et al </small></a>
        </li>
        <li class="nav-item nav-link">
          <a class="text-black nav-link " href="{% url 'privacy_policy' %}"><small>Privacy Policy </small></a>
        </li>
        <li class="nav-item nav-link">
          <a class="text-black nav-link " href="#"><small>Join VIP Club </small></a>
        </li>
        <li class="nav-item nav-link">
          <a class="text-black nav-link " 
          href="https://github.com/MoniMurray/bookworms-et-al" 
          target="_blank" rel="noopener"
          aria-label="Visit my Github profile to see more about this 
          project (Opens a new browser page)">
          <small>Created by Monica Murray for CI P5</small></a>
        </li>
      </ul>
      <p class="m-0 text-center text-white">
        <a class="text-black" href="https://www.facebook.com/profile.php?id=100094116007278" target="_blank" rel="noopener"
        aria-label="Visit my Facebook page (Opens a new browser page)"><i class="fa-brands fa-facebook pl-2"></i></a>
      <a class="text-black" href="https://www.instagram.com" target="_blank" rel="noopener"
        aria-label="Visit my Instagram page (Opens a new browser page)"><i class="fa-brands fa-instagram pl-2"></i></a>
      <a class="text-black" href="https://www.twitter.com" target="_blank" rel="noopener"
        aria-label="Visit my Twitter page (Opens a new browser page)"><i class="fa-brands fa-twitter pl-2"></i></a>
</div>
    </footer>