<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- List All products at once or by category -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
               <!-- List Books all at once or by category-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="#?category=business, investing" class="dropdown-item">Business &amp Investing</a>
                <a href="#?category=cookbooks" class="dropdown-item">Cookbooks</a>
                <a href="#?category=mystery, suspense" class="dropdown-item">Mystery &amp Suspense</a>
                <a href="#?category=scifi, fantasy" class="dropdown-item">Scifi &amp Fantasy</a>
                <a href="#?category=accessories" class="dropdown-item">Accessories</a>
                <a href="#?category=business,cookbooks,mystery,scifi,accessories" class="dropdown-item">All
                    Books</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Business & Investing
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="#?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="#?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div> -->
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookbooks
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="#?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="#?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div> -->
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mystery & Suspense
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="#?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="#?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div> -->
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scifi & Fantasy
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="#?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="#?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div> -->
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="#?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="#?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div> -->
        </li>
      

        
    </ul>
</div>